<h2>Show game</h2>

<ul>

  <li>
    <strong>Home:</strong>
    <%= @game.home_id %>
  </li>

  <li>
    <strong>Visitor:</strong>
    <%= @game.visitor_id %>
  </li>

  <li>
    <strong>Start time:</strong>
    <%= @game.start_time %>
  </li>

  <li>
    <strong>Field:</strong>
    <%= @game.field %>
  </li>

</ul>

<%= link "Edit", to: game_path(@conn, :edit, @game) %>
<%= link "Back", to: game_path(@conn, :index) %>
